.login-container {
	width: 90%;
	margin: auto;
	max-width: 400px;
	flex: 1;
}

.notification {
	width: 90%;
	margin: auto;
	max-width: 1000px;
	position: relative;
}

.notification-form {
	text-indent: 15px!important;
	margin-bottom: 8px!important;
	padding: 8px 0!important;
	font-size: 13px!important;
}

.error {
	background-color: #E25157;
	color: #fff;
	padding: 15px 0;
	border-radius: 8px;
}

.button-error {
	background-color: #E25157;
	border-color: #E25157;
}

.success {
	background-color: #5BB85F;
	color: #fff;
	padding: 15px 0;
	border-radius: 8px;
}

.close-notification {
	position: absolute;
	right: 15px;
	top: 9px;
	font-size: 18px;
	cursor: pointer;
	padding: 5px 9px;
	border-radius: 50%;
}

.close-notification-error:hover {
	background-color: #bc2d32;
}

.close-notification-success:hover {
	background-color: #38933c;
}


.login-parent {
	flex: 1;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.big-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flash-messages {
	position: fixed;
	text-align: center;
	left: 0;
	top: 50px;
	width: 100%;
	z-index: 99;
}

#logout {
	margin-left: 12px;
}

.add-some-entries {
	display: flex;
	height: 450px;
	align-items: center;
	justify-content: center;
}

.inner-flex {
	flex: 1;
	text-align: center;
}
