{% extends 'layout.html' %}

{% block content %}
<section>
  <div class="container">
    <div class="entry-list single">
      <article>
        <h1>{{ post.title }}</h1>
        <time datetime="2016-01-31">{{ post.date.strftime('%B %d, %Y') }}</time>
        <div class="entry">
          <h3>Time Spent: </h3>
          <p>{{ post.timeSpent }} Minutes</p>
        </div>
        <div class="entry">
          <h3>What I Learned:</h3>
          <p>{{ post.whatILearned }}</p>
        </div>
        <div class="entry">
          <h3>Resources to Remember:</h3>
          <p>{{ post.resourcesToRemember }}</p>
        </div>
      </article>
    </div>
  </div>
  <div class="edit">
    <a href="edit.html" class="button">Edit Entry</a>
    <a href="edit.html" class="button button-error">Delete</a>
  </div>
</section>
{% endblock %}
