{% extends 'layout.html' %}

{% block content %}
<section>
  <div class="container">
    <div class="entry-list">
      {% if posts.count() > 0 %}
      {% for post in posts %}
        <article>
          <h2><a href="/entries/{{ post.url }}">{{ post.title }}</a></h2>
          <time datetime="2016-01-31">{{ post.date.strftime('%B %d, %Y') }}</time>
        </article>
      {% endfor %}
      {% else %}
        <div class="add-some-entries">
          <div class="inner-flex">
            <p>You don't have any entries yet!</p>
            <a href="/new-entry" class="button">Add Entry</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
